@model App_FDark.Models.Links

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<h1 class="text-center">Creation d'une Resource</h1>

<h4 class="text-center">Ressource</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label for="dataType" class="form-label">Data Type</label>
                <select id="dataType" class="form-control" name="dataType" asp-items="ViewBag.dataTypeList" onchange="ShowForm()">
                    <option value="">Null</option>
                </select>
                <span asp-validation-for="DataType" class="text-danger"></span>
            </div>
            <div id="label" class="form-group hidden">
                <label asp-for="Label" class="control-label">Label</label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div id="picture" class="form-group hidden">
                <label asp-for="Picture" class="control-label">Image de couverture</label>
                <input type="file" accept="image/png, image/jpg, image/jpeg" asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div id="pictureMulti" class="form-group hidden">
                <label asp-for="Picture" class="control-label">Images</label>
                <input type="file" accept="image/png, image/jpg, image/jpeg" multiple asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div id="url" class="form-group hidden">
                <label asp-for="Url" class="control-label">Url</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div id="description" class="form-group hidden">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea rows="5" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div id="extension" class="form-group hidden">
                <label for="extId" class="form-label">Categorie</label>
                <select id="categorySelect" class="form-control" asp-items="ViewBag.ExtensionList" name="extId" onchange="GetContentList()">
                    <option value="0">All</option>
                </select>
            </div>
            <div id="contentSelectDiv" class="form-group hidden">
                <label for="contentId" class="form-label">Contenu</label>
                <select id="contentSelect" class="form-control" name="contentId">
                    <option value="0">All</option>
                </select>
                <span asp-validation-for="ContentId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 text-center">
                <input type="submit" value="Create" class="btn btn-primary " /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
