@model _LinksCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}
<script type="text/javascript">
    var contentSelected;
    contentSelected = @Model.ContentID;
</script>

<h1 class="text-center">Creation d'une Resource</h1>

<h4 class="text-center">Ressource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="NewLink.DataType" class="form-label">Data Type</label>
                <select id="dataType" class="form-control" asp-for="NewLink.DataType" asp-items="Model.DataTypeList" onchange="ShowForm()">
                    <option value="">Null</option>
                </select>
                <span asp-validation-for="NewLink.DataType" class="text-danger"></span>
            </div>
            <div id="label" class="form-group hidden">
                <label asp-for="NewLink.Label" class="control-label">Label</label>
                <input asp-for="NewLink.Label" class="form-control" />
                <span asp-validation-for="NewLink.Label" class="text-danger"></span>
            </div>
            <div id="picture" class="form-group hidden">
                <label asp-for="NewLink.Picture" class="control-label">Image(s)</label>
                <input id="imagesInput" asp-for="NewLink.Picture" class="form-control" readonly />
                <span>
                    <button type="button" onclick="loadFiles()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fileModal">
                        Files
                    </button>
                </span>
                <span asp-validation-for="NewLink.Picture" class="text-danger"></span>
            </div>
            <div id="url" class="form-group hidden">
                <label asp-for="NewLink.Url" class="control-label">Url</label>
                <input asp-for="NewLink.Url" class="form-control" value="url" />
                <span asp-validation-for="NewLink.Url" class="text-danger"></span>
            </div>
            <div id="description" class="form-group hidden">
                <label asp-for="NewLink.Description" class="control-label">Description</label>
                <textarea rows="5" asp-for="NewLink.Description" class="form-control"></textarea>
                <span asp-validation-for="NewLink.Description" class="text-danger"></span>
            </div>
            <div id="extension" class="form-group hidden">
                <label for="extId" class="form-label">Categorie</label>
                <select id="categorySelect" class="form-control" asp-items="Model.ExtensionList" onchange="GetContentList()">
                    <option value="0">All</option>
                </select>
                <span asp-validation-for="NewLink.ContentId" class="text-danger"></span>
            </div>
            <div id="contentSelectDiv" class="form-group hidden">
                <label asp-for="NewLink.ContentId" class="form-label">Contenu</label>
                <select id="contentSelect" class="form-control" asp-for="NewLink.ContentId">
                    <option value="0">All</option>
                </select>
            </div>
            <div class="form-group mt-2 text-center">
                <input type="submit" value="Create" class="btn btn-primary " /> |
                <a href="#" onclick="PageBack()">Back ←</a>
            </div>
        </form>
    </div>
    <div class="col-xl-4  mt-3 mb-3 mt-xl-0 d-flex align-items-center">
        <div id="snapButton" class="col text-center hidden">
            <button type="button" onclick="showSnap()" class="btn btn-primary ">Aperçu →</button>
        </div>
    </div>
    <div id="snapCard" class="col d-flex justify-content-center hidden">
    </div>
</div>
<!-- Modal -->
<partial name="_FilesModal" />
<partial name="_AddFilesModal" />
<script src="~/js/ManageModal.js" asp-append-version="true"></script>
<script src="~/js/CreateResource.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
